//Color Variables

//$primary:#428bca;
$sucess:#28a745;
$default:#5bc0de;
$error:#d9534f;
$warning:#ff6e40;
$info:#a793e5;
$main-text: #333;

//Font Variables

$primary:'Helvectica';

//A map for breakpoints
$breakpoints: (
  xs: 576px,
  sm: 769px,
  md: 992px,
  lg: 1200px,
);

    