//Color Variables

//$primary:#428bca;
$sucess:#28a745;
$default:#5bc0de;
$error:#d9534f;
$warning:#ff6e40;
$info:#a793e5;
$main-text: #333;

//Font Variables

$primary:'Helvectica';

//Media query variables


    