//******** buttons ********
.btn--default {
    @include button($background-color: $default, $width: 100%);
    margin-right: 0.5%;
}



.btn--success {
    @include button($background-color: $success, $width: 100%);
    margin-right: 0.5%;
}

.btn--error {
    @include button($background-color: $error, $width: 100%);
    margin-right: 0.5%;
}

.btn--warning {
    @include button($background-color: $warning, $width: 100%);
    margin-right: 0.5%;
}

.btn--info {
    @include button($background-color: $info, $width: 100%);
    margin-right: 0.5%;
}

