//Setting width for 12 column grid system
//@for $i from 1 through 12 {
//    .grid__col--#{$i} {
//        width: ($i / 12) * 100%;
//    }
//}
@for $i from 1 through 12 {
    .grid__col--#{$i} {
        width: 100%;
        @include flexible($direction: column,
                       $justify-content: center,
                       $align-items: center);

    }
}

.grid__row {
    @include flexible($direction: column,
                       $justify-content: center);
}

.centered {
    @include centerer;
}

